.pokemons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container {
    width: 90%;
    display: grid;
    padding: 50px;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.cardPokemon {
    background-color: rgb(255, 255, 255);
    border: 1px solid blueviolet;
    width: 230px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 2px;
    margin: 0 10px;
    text-transform: capitalize;
}

.cardPokemon .nomePokemon {
    padding: 10px;
    color: blueviolet;
}

.cardPokemon .pokemon-sprite {
    width: 96px;
    height: 96px;
}

.cardPokemon .pokemon-sprite:hover {
    opacity: 0.7;
}

.cardPokemon .detalhes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.cardPokemon button {
    width: 180px;
    height: 40px;
    color: white;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.cardPokemon button:hover {
    background-color: rgb(97, 31, 160);
} 

.pokemon-sprite {
    transform: scale(1.5);
}