.pokemons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container {
    width: 80%;
    display: grid;
    padding: 50px 0;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.cardPokemon {
    background-color: rgb(255, 255, 255);
    width: 230px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(185, 185, 185, 0.8);
    margin: 0 10px;
}

.cardPokemon .nomePokemon {
    padding: 10px;
    color: blueviolet;
}

.cardPokemon .detalhes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cardPokemon button {
    width: 180px;
    height: 40px;
    color: white;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.cardPokemon button:hover {
    background-color: rgb(97, 31, 160);
} 