* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(157, 52, 255), blueviolet, rgb(72, 21, 119));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}