<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/cardPokemon.css"/>
</head>
<body>
    <datalist id="pokemonSugestoes">
        <option value="bulbasaur">
        <option value="charmander">
        <option value="squirtle">
    </datalist>

    <input id='pokemonInput' type='search' placeholder="Pokémon" list="pokemonSugestoes" autocomplete="on"/>
    <button onclick="pesquisaPokemon()">Pesquisar</button>
    <br>
    <div class='pokemons'>
        <div id="container" class="container">
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            <div class="cardPokemon">
                <h3 class="nomePokemon">Pikachu</h3>
                <div>
                    <img width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon">
                </div>
                <div class='detalhes'>
                    <button>DETALHES</button>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        let pokemonList = [];

        function pesquisaPokemon() {
            const pokemonInput = document.getElementById("pokemonInput");

            $.ajax({
                type: "POST",
                url: "/procuraPokemon",
                data: JSON.stringify( {pokemon: pokemonInput.value} ),
                contentType: "application/json ; charset=utf-8",
                success: function(data) {
                    pokemonList = [data];
                    criaDashboard();
                }
            });
        }

        function criaDashboard() {
            const pokemonContainer = document.getElementById("container");

            pokemonList.map(pokemon => {
                const divPokemon = document.createElement("div");

                const namePokemon = document.createElement("h3");
                namePokemon.innerText = pokemon.name;

                const pokemonSprite = document.createElement("img");
                pokemonSprite.src = pokemon.sprite;
                pokemonSprite.alt = "pokemon";

                divPokemon.appendChild(namePokemon);
                divPokemon.appendChild(pokemonSprite);
                pokemonContainer.appendChild(divPokemon);
            });
        }
    </script>
</body>
</html>