{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/cardPokemon.css"/>
<link rel="stylesheet" type="text/css" href="../static/css/searchPokemon.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block content %}
<datalist id="pokemonSugestoes">
    <option value="bulbasaur">
    <option value="charmander">
    <option value="squirtle">
</datalist>
<div class="search-pokemon">
    <div class="content">
        <input id='pokemonInput' type='search' placeholder="Digite um nome de Pokémon" list="pokemonSugestoes" autocomplete="on"/>
        <button id="search">Pesquisar</button>
    </div>
</div>
<div class='pokemons'>
    <div id="container" class="container">
        <span class="loading">Carregando lista. Isso pode levar alguns segundos...</span>
    </div>
    <div id="search"></div>
</div>

<template>
    <div class="cardPokemon">
        <h3 class="nomePokemon"></h3>
        <div>
            <a href="#" target="_blank">
                <img class="pokemon-sprite">
            </a>
        </div>
        <div class='detalhes'>
            <button>DETALHES</button>
        </div>
    </div>  
</template>
<script>window.base_url = "{{ base_url }}"</script>
<script src="../static/js/pokemon.js"></script>
{% endblock content %}