{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/pokemon.css"/>
{% endblock head %}

{% block content %}
<div class="background">
    <div class="pokemon-background">
        <div class="pokemon-background-sprite">
            <img class="pokemon-sprite" src={{pokemon['sprite_url']}}>
            <h3 class="pokemon_name">{{pokemon["name"]}}</h3>
        </div>
        <ul class="details">
            <li>ID: {{pokemon["key"]}}</li>
            <li>Tipo: {{pokemon["element"]}}</li>
            <li>Experiência: {{pokemon["experience"]}}</li>
            <li>Movimentos: {{pokemon["moves_total"]}}</li>
        </ul>
        <div class="voltar">
            <a href="/">VOLTAR</a>
        </div>
    </div>
</div>
{% endblock content %}