{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/pokemon.css"/>
{% endblock head %}

{% block content %}
<div class="background">
    <div class="pokemon-background">
        <div class="pokemon-background-sprite">
            <img class="pokemon-sprite" src={{pokemon['sprite_url']}}>
            <h3 class="pokemon_name">{{pokemon["name"]}}</h3>
        </div>
        <div class="details">
            <label>Id: {{pokemon["key"]}}</label>
            <label>Tipo: {{pokemon["element"]}}</label>
            <label>Experiência: {{pokemon["experience"]}}</label>
            <label>Movimentos: {{pokemon["moves_total"]}}</label>
        </div>
        <div class="voltar">
            <a href="http://127.0.0.1:5000/">VOLTAR</a>
        </div>
    </div>
</div>
{% endblock content %}