{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/css/pokemon.css"/>
{% endblock head %}

{% block content %}
<div class="background">
    <div class="pokemon-background">
        <div class="pokemon-background-sprite">
            <img class="pokemon-sprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"/>
            <h3>Pikachu</h3>
        </div>
        <div class="details">
            <label>Id: 25</label>
            <label>Tipo: eletric</label>
            <label>Experiência: 112</label>
            <label>Movimentos: 81</label>
        </div>
        <div class="voltar">
            <a href="http://127.0.0.1:5000">VOLTAR</a>
        </div>
    </div>
</div>
{% endblock content %}